<!DOCTYPE html>
<html>
  <head>
    <title>Wishberry, India's No.1 Crowdfunding platform for creative artists</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
  <!-- <div class="main">
   <h2>Select one option</h2>
  <a href="http://localhost:3000/find"  class="btn btn-primary active" role="button">Find</a>
  <a onclick="submitFunction()" class="btn btn-primary active" role="button">Add Product</a> -->
<!--   <p> Welcome to patel Tyres </p>
 -->
 <div id="mainDiv">
<img id="landingImg"  src="images/upgrade.png" ></img>

<h4>We are upgrading for a better experience. We will be back in 48 hours.</h4>
<h4>Meanwhile, if you have anything urgent, please leave us your email below and we will get back to you ASAP!</h4>
</div>

<input type="text" id="email" class="form-control" placeholder="Email" name="email">
<div class="button-container">
  <button id="submitButton" class="btn btn-default" type="submit">Submit</button>
</div>





<!-- Scripts -->
      <script>
         $("#submitButton").click(function(e) {
              e.preventDefault();
              url = "https://landing-wb.herokuapp.com/create";
              var inputData = {
                  email: $('#email').val(),
              };
              $.ajax({
                  type: "POST",
                  data: inputData,
                  url: url,
                  success: function(data) {
                      alert('email submitted');

                  },
                  error: function(data) {
                      alert('error placing order');

                  }
              });

          });


</script>



  </body>
</html>
