

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
h4 {
  line-height: 1.4em;
}

.productName{
  margin-top: -10%;
	text-align: left;
	font-size: xx-large;
}

.input{
	border:solid;
}

#mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 30px;
}

#landingImg {
  width:30%;
}

#email {
  width: 50%;
  height: 48px;
  margin: auto;
}

.main {
	text-align: center;
    margin: auto;
    width: 60%;
    margin-top: 10%;
}
.submit {
  border:solid;
}
.userName {
 font-size: x-large;
}
.password {
 font-size: x-large;
}

.userNameInput {
  border:solid;
}

.passwordInput {
    border:solid;
}

.resultDiv {
  text-align: left;
}

.resultBox{
  border:solid;
}


.button-container {
    width: 100%;
    display:block;
    position:relative;
    margin-top: 35px;
    text-align: center;
    height: auto;
}

.btn{
    font-family: Muli;
    background: green;
    border: 4px solid black;
    cursor: pointer;
    max-width: 180%;
    max-height: 100%;
    font-size: 120%;
    text-align: center;
  }

 .btn2{
  float:left;
  border:solid;
 }

h1 {
  color : #000000;
  text-align : center;
  font-family: muli;
}

#productForm{
font-size: 200%;
    text-align: center;
}

#submitButton {
  border: none;
  background-color: #f50;
  padding: .75em 2.5em;
  color: #fff;
  font-family: inherit;
}

#return {
  margin-left: -6%;
}


@media only screen and (max-width: 650px){
.main {
	text-align: center;
    margin: auto;
    margin-top: 60%;
    width: inherit !important;
}
#mainDiv {
  text-align: center;
  margin-top: 20px;
}
.productName{
    margin-top: -60%;
}
h4 {
  width: 90%;
  font-size: 16px;
}
#email {
  width: 90%;
}

#return {
  margin-left: 1% !important;
}


#landingImg {
  width:100%;
}

}
